# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/

# Data artifacts
data/raw/*.csv
data/raw/*.parquet
data/processed/*.csv
data/processed/*.parquet

# Notebook artifacts
.ipynb_checkpoints/

# Local env files
.env
